<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="!(loc.SoftwareTitle)" Language="!(loc.LANG)" Version="1.0.2" Manufacturer="!(loc.SoftwareManufacturer)" UpgradeCode="A92B3935-8FE9-4F0F-8B1F-1D60D3C9A719">
    <Package InstallerVersion="400" Compressed="yes" InstallScope="perMachine" />
    <Condition Message="!(loc.AdminRightsRequired)">Privileged</Condition>
    <MajorUpgrade DowngradeErrorMessage="!(loc.NewerVersionInstalled)" />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="PanFlip" Title="[ProductName]" Level="1">
      <ComponentRef Id="ElevationUserInterface" />
      <ComponentRef Id="ProcessCommunicationLibrary" />
      <ComponentRef Id="Service" />
      <ComponentRef Id="SharedLibrary" />
    </Feature>
    
    <Icon Id="pan.ico" SourceFile="..\pan.ico"/>
    <Property Id="ARPPRODUCTICON" Value="pan.ico" />
    <Property Id="ARPNOMODIFY" Value="yes" Secure="yes" />
	<Property Id="DISABLEADVTSHORTCUTS" Value="1" />

	<Directory Id="TARGETDIR" Name="SourceDir">

      <!-- Create the structure in the appropriate Program Files folder. -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PanFlip">
          <Component Win64="no" Id="ElevationUserInterface" Guid="0533ABF0-5AFB-4514-AC7A-754D61F5E72C">
            <File Id="ElevationUserInterfaceExe" Name="$(var.LocalUI.TargetFileName)" Source="$(var.LocalUI.TargetPath)" KeyPath="yes" />
            <Shortcut Id="LocalUserInferfaceShortcut" Directory="ProgramMenuFolder" Name="PanFlip" Description="PanFlip Local User Interface" Advertise="yes" WorkingDirectory="INSTALLDIR" Icon="pan.ico" IconIndex="0" />
          </Component>
          <Component Win64="no" Id="SharedLibrary" Guid="2ECF14B8-8100-4774-B145-27B371122595">
            <File Id="SharedDll" Name="$(var.Shared.TargetFileName)" Source="$(var.Shared.TargetPath)" KeyPath="yes" />
          </Component>
          <Component Win64="no" Id="ProcessCommunicationLibrary" Guid="04E782C4-21C0-440B-9F64-6628C99EAC71" >
            <File Id="ProcessCommunicationDll" Name="$(var.ProcessCommunication.TargetFileName)" Source="$(var.ProcessCommunication.TargetPath)" KeyPath="yes" />
          </Component>
          <Component Win64="no" Id="Service" Guid="60BA5861-B317-4FBB-ACC4-BCCCCA11853B">
            <File Id="ServiceExe" Name="$(var.Service.TargetFileName)" Source="$(var.Service.TargetPath)" KeyPath="yes" />
            <ServiceInstall DisplayName="[ProductName]" Name="PanFlip" Start="auto" Type="shareProcess" Vital="yes"
                            Description="!(loc.ServiceDescription)"
                            EraseDescription="no" ErrorControl="normal">

              <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart" ThirdFailureActionType="restart" ResetPeriodInDays="1" RestartServiceDelayInSeconds="60" />

            </ServiceInstall>
            <ServiceControl Id="PanFlip" Name="PanFlip" Remove="uninstall" Start="install" Stop="both" Wait="yes" />
            <RemoveFolder Id="INSTALLFOLDER" On="uninstall" />
          </Component>
            
        </Directory>
      </Directory>
      
      <Directory Id="ProgramMenuFolder" Name="Programs" />
    </Directory>
  </Product>
</Wix>
